<div class="container">
  <!-- Use Title from app componets ts file-->
  <H1>{{ title }}</H1>
</div>


<div class="container">
  <!-- App Header can be pulled form componets/header by using app-header tag & it will be embadded in App-->
  <app-header></app-header>

  <!-- List of Tasks in our queue-->
  <!-- This task component can be removed and replaced with Router Outlet as Our Index page is set to Task Component
  <app-tasks></app-tasks>
  -->
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
